@using PetPaw.Models
<!DOCTYPE html>
@{
    var user = Session["user"] as user;
    string firstNameInitial = user?.firstName.Substring(0, 1);
    string lastNameInitial = user?.lastName.Substring(0, 1);
    var userInitials = (firstNameInitial + lastNameInitial);
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="~/Content/Admin/Admin.css" rel="stylesheet" />
</head>
<body>
    <nav class="">
        <ul>
            <li><a class="link">Hello @userInitials</a></li>
            <li style="float: right"><a class="active" href="@Url.Action("Logout","Account")">Log out</a></li>
        </ul>
    </nav>
    <div>
        <div class="sidenav">
            <a href="@Url.Action("Index", "Home")">Home Page</a>
            <a href="@Url.Action("Index", "Admin")">Users List</a>
            <a href="@Url.Action("AddPicture", "Admin")">AddSliderPics</a>
            <a href="@Url.Action("ManagePictures", "Admin")">Manage Slider</a>
            <a href="#clients">Clients</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/Admin/AdminJS.js"></script>

</body>
</html>
